# EULA
ENABLE_EULA=${ENABLE_EULA=true}

# JVM
XMS=${XMS=1G}
XMX=${XMX=2G}

# Minecraft server.properties
SERVER_PORT=${SERVER_PORT=25565}
ONLINE_MODE=${ONLINE_MODE=true}
ENABLE_QUERY=${ENABLE_QUERY=true}
QUERY_PORT=${QUERY_PORT=25565}
MOTD=${MOTD=DevSecOps Server}
