# EULA
ENABLE_EULA=${ENABLE_EULA}

# JVM
XMS=${XMS}
XMX=${XMX}

# Minecraft server.properties
SERVER_PORT=${SERVER_PORT}
ONLINE_MODE=${ONLINE_MODE}
ENABLE_QUERY=${ENABLE_QUERY}
QUERY_PORT=${QUERY_PORT}
MOTD=${MOTD}
